:root {
    /* Testimonial and Configurator colors */
    --background-color: #f9faff;
    --cobalt-blue: #071eb3;
    --white: #fff;
    --black: #161616;
    --greyish: #a5a5a5;
 
    /* Configurator extra color */
    --light-blue: #f0f2ff
    ;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--background-color);
}